@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
    font-family: 'Press Start 2P', cursive;

    color: #F1F6F9;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgba(33, 42, 62,0.95);
  }
  
  .sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logoContainer img {
    margin-right: 1rem;
  }
  
  .blinker { 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 1s;
    display: inline-block;
    width: 4px;
    height: 30px;
    margin-left: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(white,.3);
    background: #F1F6F9;
  }
  
  @keyframes blinker { 
    from { opacity: 1.0; } to { opacity: 0.0; }
  }
  
  .navbarIcon {
    width: 50px;
    height: 50px;
  }
  
  .navigator {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
  }
  
  .navigator li {
    position: relative;
  }

  .link:hover,
  .link:active {
    transition: all linear 0.3s;
    cursor: pointer;
    color: #B9BFCB;
  }
  
  .link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #B9BFCB;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .link img:hover {
    filter: brightness(75%);
    transition: filter linear 0.3s;
  }

  .dropdownBtn {
    display: none;
  }

  .dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    backdrop-filter: blur(8px);
  }

  .dropdownMenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dropdownItem {
    font-size: 1.5rem;
    border-bottom: 1px solid #F1F6F9;
  }

  .dropdownItem:hover,
  .dropdownItem:active {
    color: #B9BFCB;
    transition: all linear 0.15s;
  }

  @media only screen and (max-width: 1300px) {
    .logoContainer h3 {
      font-size: 1rem;
    }

    .link {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 1150px) {
    .navigator {
      gap: 1rem;
      font-size: 0.9rem;
    }

    .link {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 1020px) {
    .navbarIcon {
      width: 35px;
      height: 35px;
    }
  }

  @media only screen and (max-width: 950px) {
    .navigator {
      display: none;
    }

    .dropdownBtn {
      display: block;
    }
  }

  @media only screen and (max-width: 425px) {
    .logoContainer img {
      display: none;
    }

    .logoContainer h3 {
      font-size: 0.8rem;
    }

    .blinker {
      height: 20px;
    }

    .dropdownItem {
      font-size: 1rem;
    }
  }